.container {
    position: relative;
    padding: 1vmin;
    margin-bottom: 1vmin;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(229, 248, 252);
    /* border: 5px solid rgb(0, 0, 0); */
    box-sizing: border-box;
    border-radius: 1.6rem;
}

.container:hover {
    background-color: rgb(181, 239, 250);
    cursor: pointer;
}

.title {
    text-align: left;
    padding: 10px;
    margin-left: 30px;
}

.needed {
    text-align: left;
}

.img {
    width: calc(4*4vmin);
    height: calc(4*3vmin);
    margin-left: auto;
    margin-right: 10px;
}

.sidebyside {
    display: flex;
    align-items:flex-start;
}

.headline {
    font-weight:700;
    font-size: large;
    font-size: calc(3vmin);
    color: rgb(0, 0, 0);
    padding-bottom: 3px;
}
.time {
    font-size: calc(2vmin);
    color: rgb(0, 0, 0);
}

.summary {
    font-size: calc(2vmin);
    color: rgb(0, 0, 0);
    padding-right: 1em;
}

@media (max-width:600px) {

    .summary{
        width: 0%;
        font-size: 0px;
    }

    .headline {
        font-weight:900;
        font-size: calc(3.5vmin);
        color: rgb(0, 0, 0);
        padding-bottom: 3px;
    }

    .img{
        width: 20%;
        height: 15%;
    }
}