.container {
    /* border: 1px solid rgb(173, 173, 173); */
    /* border-radius: 1.6rem; */
    margin-top: 3%;
    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-right:5%;
    margin-left:5%;
    /* overflow-y: scroll; */
    /* Internet Explorer 10+
    -ms-overflow-style: none;  
    /* firefox */
    /* scrollbar-width: none;   */
    
}
/* .container::-webkit-scrollbar {  */
    /* for safari */
     /* display: none;   */
/* } */