Django==4.0.1
django-decouple==2.1
django-cors-headers==3.11.0
djangorestframework==3.13.1
oauth2-provider==0.0
social-auth-app-django==5.0.0
drf-social-oauth2==1.2.1
yahoo_fin==0.8.9.1
finnhub-python==2.4.13
