.barItem {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 80%;
    height: 38px;
    padding: 3%;
    margin: 10px;
}
.icon {
    display: inline;
}
.label {
    display: inline;
    font-size: 1.3rem;
    /* border: 1px solid red; */
    margin-left: 15%;
    /* margin-bottom: 15px; */
    /* padding-bottom: 5%; */
}