.listContainer{
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.userContainer{
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.list{
    margin: 1.5%;
}

.main{
    width:100%;
}

.container{
    margin: 2% 8%;
}

.userinfo{
    border: 1px solid rgb(173, 173, 173);
    margin-top: 3%;
    border-radius: 1.6rem;

}

@media (max-width:1150px) {
  
    .userContainer{
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    .listContainer{
        width: 100%;
        float: left;
        padding: 15px;
    }
}



