.listContainer{
    width: 65%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

.userContainer{
    width: 35%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

.list{
    margin: 1.5%;
}

.margin{
    margin: 2% 10%;
}

.container{
    width: 100%;
}

.userinfo{
    border: 1px solid rgb(173, 173, 173);
    margin-top: 3%;
    border-radius: 1.6rem;

}

.watchlist{
    border: 1px solid rgb(173, 173, 173);
    border-radius: 1.6rem;
    margin-top: 3%;
    height: 50vh;
    overflow: scroll;
}

@media (max-width:1150px) {
  
    .userContainer{
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    .listContainer{
        width: 100%;
        float: left;
        padding: 15px;
    }
}



