.miniInfoBox {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2px;
    margin: 3%;
}

.label {
    color: rgb(50, 180, 197);
    font-size: medium;
    font-weight: 900;
    margin-top: 10px;
}

.val {
    color: rgb(117, 117, 117);
    font-weight: 900;
    font-size: x-large;

}

.units {
    color: rgb(117, 117, 117);
}