.mainContainer {  
    margin: 4% 7%;
    width:85%;  
}

.graph {
    width: 87%;
    margin: 0% 7%
}

@media (max-width:950px) {

}


.list {
    width: 100%;
    /* border: 1px solid black; */
}

.holdings {
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 50vh;
}