.container {
    height: 100%;
    width: 90%;
    margin: 4% 5%;
    justify-content: center;
    align-content: center;
}

.miniContainer {
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    width: auto;
    height: 60px;
    margin: .7rem;
    padding: 0;
}

.customWrapper {
    width: auto;
    height: auto;
    margin-top: .2rem;
    padding: 0rem .4rem;
    background-color: rgb(184, 212, 203);
    border-radius: 10px;
    animation-name: flash;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: rgb(194, 203, 85);}
    to {color: rgb(82, 127, 142);}
}

.nameSect {
    text-align: left;
    border-bottom: 1px solid  rgb(173, 173, 173);
    width: 100%;
}

.companyName {
    /* border: 5px solid purple; */
    display: flex;
    height: 1vh;
    align-items: center;
    /* margin-bottom: -5px; */
}

.symbol{
    color: rgb(80, 79, 79);
    margin-right: .4rem;
}

.qe {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1.4rem;
    margin-left: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.graph {
    margin-top: 4%;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;

}

.wrapper {
    display: grid;
    grid-template-columns: 3;
    grid-auto-rows: 1;
    border: 1px solid rgb(204, 202, 202);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 1.4rem;
  }

  .wrapperHeader {
    font-size: 0px;
  }

  .stats1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;
    border-right:1px solid black;
  }
  .stats2 {
    grid-column: 2;
    margin-top: 20px;
    grid-row: 1;
    border-right:1px solid black;
  }
  .stats3 {
    grid-column: 3;
    margin-top: 20px;
    grid-row: 1;
  }
  .about {
    text-align: center;
    font-size: large;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1.4rem;
    padding: 5%;
    background-color: rgba(154, 215, 235, 0.1);
    
    margin-top: 20px;
  }
  .summary {
    margin-top: 20px;
    text-align: left;
  }

.attribute {
    margin-top: -10px;
    font-weight: bolder;
    color: grey;
}

.value {
    color: black;
    font-weight: 500;
}
.leftSec {
    width: 63%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.rightSec {
    width: 36%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

@media (max-width:1200px) {

    .leftSec{
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    .rightSec{
        width: 50%;
        float: left;
        padding: 15px;
    }

}

@media (max-width:900px) {
    
    .rightSec{
        width: 80%;
        float: left;
        padding: 15px;
    }
}

@media (max-width:700px) {

.wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 3;
    border: 1px solid rgb(204, 202, 202);
    padding: 20px;
    border-radius: 1.4rem;
    font-size: small;
  }

  .stats1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0% 10%;
    border-right: 0px;
  }
  .stats2{
    grid-column: 1;
    margin: 0% 10%;
    grid-row: 2;
    border-right: 0px;
  }
  .stats3 {
    grid-column: 1;
    margin: 0% 10%;
    grid-row: 3;
  }
  .wrapperHeader{
    font-size: small;
    padding-bottom: 5%;
  }

}