.container {
    height: 100%;
    width: 80%;
    margin: 4% 10%;
    justify-content: center;
    align-content: center;
}

.animate {
    animation: fadeIn linear 3s;
    color: rgb(134, 133, 133);
    text-align: right;
    justify-content: right;
    align-items: right;
    padding-left: 1%;
    font-weight: bolder;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.name{
    text-align: left;
    border-bottom: 1px solid  rgb(173, 173, 173);
    width: 100%;
}

.symbol{
    margin-top: -15px;
    margin-left: 7px;
}



.graph{
    margin-top: 4%;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;

}

.wrapper {
    display: grid;
    grid-template-columns: 3;
    grid-auto-rows: 1;
    border: 1px solid rgb(204, 202, 202);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 1.4rem;
    background-color: rgb(180, 255, 230);
  }

  .stats1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;
    border-right:1px solid black;
  }
  .stats2{
    grid-column: 2;
    margin-top: 20px;
    grid-row: 1;
    border-right:1px solid black;
  }
  .stats3 {
    grid-column: 3;
    margin-top: 20px;
    grid-row: 1;
  }

.attribute{
    margin-top: -10px;
    font-weight: bolder;
    color: grey;
}

.value{
    color: black;
    font-weight: 500;
}
.leftSec{
    width: 67%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.rightSec{
    width: 33%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

@media (max-width:1200px) {

    .leftSec{
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    .rightSec{
        width: 50%;
        float: left;
        padding: 15px;
    }

}

@media (max-width:950px) {
    
    .rightSec{
        width: 80%;
        float: left;
        padding: 15px;
    }

    .wrapper{
        font-size: small;
    }
}

