.container {
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 2rem 2rem;
}

.cardTop {
    position: relative;
}

.img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.name {
    margin: 2px;
}

.info {
    margin: 2px;
}

.edit {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(230, 70, 70);
    font-size: larger;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit:hover {
    text-decoration: underline;
}

.cardMid {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 3%;
}

.cardBottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}