.container{
    width: 100%;
}

.wrapper{
    margin: 2% 8%;
}

.pieChart{
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 1.6rem;
    margin: 2%;
}

.lineChart{
    width: 61%;
    /* height: 50vh; */
    float: left;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 1.6rem;
    margin: 2%;
}

.confirm{
    /* display: flex; */
    flex-direction: row;
    background-color: rgba(230, 85, 85);
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.reset{
    background-color: rgba(230, 85, 85);
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 7%;
    margin-right: 35%;
}


@media (max-width:950px) {
  
    .pieChart{
        width: 100%;
        float: left;
        padding: 15px;
        font-size: small;
    }
    
    .lineChart{
        width: 100%;
        float: left;
        padding: 15px;
        font-size: small;
    }


}