.container{
    align-items: center;
    width: 90%;
    margin: 1% 4%;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 1.6rem;
}

.container:hover {
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 1.6rem;
}

.content{
    color: black;
    text-decoration: none;
    width: 100%;
    height: 30px;
    align-items: center;
    position: relative;
    display: flex;
    margin: 0.9% 1%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.date{
    width: 16%;
    text-align: center;
}

.type{
    width: 6%;
    padding: .2rem .2rem;
    text-align: center;
    /* border: 2px solid black; */
    color: white;
    border-radius: 8px;
}

#buyPad {
    background-color: rgb(179, 221, 179);
    color: rgb(64, 131, 64);

}

#sellPad {
    background-color: rgb(237, 180, 180);
    color: rgb(124, 60, 60);
}

.stock{
    width: 12%;
    text-align: center;
    justify-content: center;
    height: 30px;
    font-weight: 600;
    border-radius: 10px;
    padding-top: 2px;
    background-color: rgb(193, 240, 248);
}

.quantity{
    width: 16%;
    text-align: center;
}

.stockPrice{
    width: 16%;
    text-align: center;
}

.totalValue{
    width: 16%;
    text-align: center;
}

@media (max-width:600px) {
    .stockPrice{
        width: 0%;
        font-size: 0px;
    }

    .totalValue{
        width: 25%;
    }
}