.container {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

.linkWrapper {
    text-decoration: none;
    color: black;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
}


.removeBtn {
    display: none;
    z-index: 2;
    border: none;
    /* border-radius: 10px; */
    font-weight: bolder;
    cursor: pointer;
    color: rgb(248, 216, 216);
    background-color: rgb(240, 105, 105);
    width: 12%;
    height: 100%;
    align-items: center; 
    justify-content: center;
    /* visibility: hidden; */
    animation: fadeInRight .5s ease-in-out;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }

.container:hover .removeBtn {
    display: flex;
}

.qtyNConfirmContainer {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 100%;
    z-index: 2;
}

.qtyInput {
    width: 85%;
    height: 45%;
}

.confirm {
    /* border: 2px solid pink; */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    height: 35%;
    background-color: rgb(50, 51, 50);
}

.container:hover {
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 10px;
    /* padding: 2px; */
}

#fadeIn {
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

#fadeOut {
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes FadeOut {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
}

.symbol {
    font-weight: bold;
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(193, 240, 248);
}

.value{
    width: 20%;
}

/* .check{
    width:10%
} */

.shares{
    width: 20%;
}
.price {
    /* margin: 1rem 1rem; */
    width: 20%;
}

.posChange {
    color: rgba(25, 139, 95, 0.884);
}

.negChange {
    color: rgb(185, 52, 19);
}

.upArrow {
    width: 20%;
    color: rgba(25, 139, 95, 0.884);
}

.downArrow {
    width: 20%;
    color: rgb(185, 52, 19);
}