.container {
    /* border: 1px solid rgb(173, 173, 173); */
    border-radius: 1.6rem;
    width: 100%;
}

.title {
    text-align: left;
    padding: 10px;
    margin-left: 30px;
}

#neutral_yellow {
    background-color: rgb(235, 235, 175);
}

#neutral_blue {
    background-color: rgb(176, 227, 243);
    padding: 4px;
}

/* CSS loader */

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:900px) {
#neutral_blue {
    background-color: rgb(176, 227, 243);
    padding: 0px;
}
}