/* body {
  font-family: sans-serif;
  background-color: #000000cc;
} */

.Graph {
  width: 100%;
  /* height: 420px; */
}

.axisX text {
  text-anchor: start;
  color: rgb(53, 54, 54);
}

.baseGridLine line {
  stroke: rgba(184, 181, 181, 0.5);
}

.xAxisGridLine line {
  stroke: rgba(230, 228, 228, 0.5);
}

.yAxisGridLine line {
  stroke: rgba(227, 224, 224, 0.5);
}

.tooltip text {
  font-size: 13px;
  fill: #4a4949;
  text-align: center;
  align-items: center;
}

.tooltipLine {
  stroke: #cccfcf;
  stroke-width: 1px;
}

.tooltipContent .contentTitle {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.tooltipLinePoint {
  fill: rgb(163, 160, 160);
}

.legendContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  margin-top: 10px;
  padding: .3rem;
  color: #8e8c8f;
  width: 100%;
}

.switchContainer {
  display: flex;
  width: 98%;
}

.switchElement {
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: .5rem .5rem;
  margin: .5rem .5rem;
  background-color: rgba(222, 233, 233, 0.5);
  border-radius: 10px;
}


@media (max-width:1400px) {

  .switchElement{
    height: 40px;
    margin-right: 2%;
  }

}

@media (max-width:1000px) {

  .switchElement{
    font-size: small;
    height: 50px;
    margin-right: 2%;
  }

  .graphModeSwitchContainer {
    height: 10vh;
  }

}
.switchElement:hover {
  background-color: rgba(176, 176, 178, 0.5);
}

.switch{
  align-items: center;
  text-align: center;
}

.switchLabel {
  color: black;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 2px;
}

.dateRangeOptsContainer {
  border: 1px solid rgba(171, 166, 167, 0.77);
  border-radius: 10px;
  width: 95%;
  align-items: center;
  height: 5vh;
  margin: 2%;
}

.dateRangeOpt {
  border: white;
  width: 14%;
  background-color: rgb(252, 252, 252);
  color: rgb(62, 62, 62);
  margin: .4rem 0rem;
  padding: .5rem;
}

.dateRangeOpt:hover{
  background-color: rgba(176, 176, 178, 0.5);
  padding: 1%;
  border-radius: 10px;
}

#selected {
  background-color: rgb(206, 223, 234);
  padding: 1%;
  border-radius:10px;
  font-weight: 900;
}

#notAvail {
  background-color: rgb(235, 141, 141);
  color: black
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cef;
  animation: loader 1.2s linear infinite;
}
.loader div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loader div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loader div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loader div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loader div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loader div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loader div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loader div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loader div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes loader {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.svgLogo {
  width: 100%;
  height: 100%;
}

/* Legend.js toggle switches */
.graphModeSwitch {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  background-color: rgba(222, 233, 233, 0.5);
  font-size: 16px;
  text-align: center;
  text-justify: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  /* margin: .2rem .2rem; */
}

.graphModeSwitch:hover {
  background-color:rgba(176, 176, 178, 0.5);
}

.graphModeSwitchContainer {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(130, 7, 27); */
  width: 98%;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  margin: 1%;
  height: 5vh;
}

.candleStickSwitch:active {
  background-image: linear-gradient(rgb(127, 49, 49), rgb(62, 149, 62));
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

/* Legend.js toggle switches */
.graphSwitch {
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 20%;
  height: 42%;
  margin: .2rem .2rem;
  padding: .2rem .2rem;
  border: 1px solid white;
  background-color: rgba(222, 233, 233, 0.5);
}

.graphSwitch:hover {
  background-color:rgba(176, 176, 178, 0.5);
}

.graphSwitch:active {
  background-image: linear-gradient(rgb(48, 130, 125), rgb(42, 102, 120));
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
} 

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} 

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(224, 222, 222);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(158, 157, 157);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b8cee1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #afc1d0;
}

#NOTAVAIL {
  background-color: #e32525;
}

#NOTAVAIL {
  box-shadow: 0 0 1px #f46d6d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}