.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    border: 1px solid rgb(153, 152, 152);
    border-radius: 1.4rem;
    overflow: hidden;
    margin: 2rem 0.5rem;
    width: 100%;
    height: 100%;
    /* for confetti */
    position: relative; 
}

#buy {
    background-color: rgb(236, 247, 238);
}

#sell {
    background-color: rgb(250, 239, 239);
}

.orderType {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 13%;
}

/* EDIT: ADD MORE FLAIR TO LABELS PLZ  */
.buyLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgb(150, 236, 183);
    /* margin: 0 0; */
    box-sizing: content-box;
    width: 50%;
    height: 100%;
    color: rgb(7, 7, 7);
    cursor: pointer;
    padding-bottom: .4rem;
}

#buyNotSelected {
    border-bottom: 4px solid rgb(97, 152, 118);
}

.sellLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgb(235, 140, 140);
    width: 50%;
    height: 100%;
    color: rgb(22, 22, 22);
    cursor: pointer;
    padding-bottom: .4rem;
}

#sellNotSelected {
    border-bottom: 4px solid rgb(119, 70, 70);
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.orderBtn {
    /* AMZN */
    background-image: linear-gradient(to right, rgb(240, 227, 53),rgb(232, 165, 51));
    border-radius: 1.6rem;
    font-size: large;
    padding: .4rem .4rem;
    width: 50%;
    height: 10%;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

.orderBtn:hover {
    background-image: linear-gradient(to right, rgb(217, 206, 50),rgb(217, 154, 46));
}

.orderBtn:active {
    background-image: linear-gradient(to right, rgb(217, 206, 50),rgb(217, 154, 46));
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.sharesInput {
    width: 50px;
    font-size: larger;

}

.errorMsg {
    color: red;
    font-weight: bold;
}

.sharesAvailMsg {
    color: rgb(123, 120, 66);
    font-weight: bold;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #cef;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
  