.box{
    display: flex;
    width: 90%;
    margin: 0% 5%;
    justify-content: space-around;
    margin-bottom: -5%;
}

.symbol{
    display: inline-block;
    width: 15%;
}

.shares{
    width: 20%;
}

.price{
    width: 10%;
    text-align: right;
}

.change{
    width: 38%; 
    left: 10%;
}