.container {
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

.container:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    /* padding: 2px; */
}

#fadeIn {
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

#fadeOut {
    animation-name: FadeIn;
    animation-duration: 1.3s;
    transition-timing-function: linear;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes FadeOut {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
}

.symbol {
    border: 3px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(193, 240, 248);
}

.symbol:hover {
    width: 16%;
    height: 61%;
    cursor: pointer;
}

.checkmark {
    border: 5px solid black;
    width: 10%;
}

.checkmark:hover {
    cursor: pointer;
}

.value{
    width: 20%;
}

/* .check{
    width:10%
} */

.shares{
    width: 20%;
}
.price {
    /* margin: 1rem 1rem; */
    width: 20%;
}

.posChange {
    color: rgba(25, 139, 95, 0.884);
}

.negChange {
    color: rgb(185, 52, 19);
}

.upArrow {
    width: 20%;
    color: rgba(25, 139, 95, 0.884);
}

.downArrow {
    width: 20%;
    color: rgb(185, 52, 19);
}