.shimmerWrapper {
    /* border: 5px solid rgb(197, 99, 99); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(184, 184, 184);
    color: grey;
    -webkit-mask:linear-gradient(135deg,#000 30%,#0005,#000 70%) right/440% 100%;
    animation: shimmer 3.5s infinite;
}

@keyframes shimmer {
    100% {-webkit-mask-position:left}
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* border: 5px solid black; */
}
.loader div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cef;
    animation: loader 1.2s linear infinite;
}
.loader div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.loader div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.loader div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.loader div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.loader div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.loader div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.loader div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.loader div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.loader div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes loader {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}