.main {
    /* border: 2px solid pink; */
    /* background-color: rgb(203, 227, 251); */
    padding: .4rem 1.2rem;
    /* border: 2px solid green; */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: 0 0 50px #ccc; */
}

.wrapper {
    /* border: 2px solid green; */
}

.label {
    color: rgb(62, 189, 211);
    font-weight: bold;
}

.labelPos {
    margin: .3rem .3rem;
    color: rgb(98, 224, 125);
}

.labelNeg {
    margin: .3rem .3rem;
    color: rgb(224, 102, 98);
}

.labelPos {
    margin: .3rem .3rem;
    color: rgb(98, 224, 125);
}

.labelNeg {
    margin: .3rem .3rem;
    color: rgb(224, 102, 98);
}

.message {
    color: rgb(207, 200, 200);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}

.heading {
    text-align: center;
}

.value {
    font-weight: bolder;
}

.attribute{
    font-weight: bolder;
    color: rgb(159, 161, 161);
}

.value{
    color: rgb(15, 15, 15);
    font-weight: 500;
}
.graph{
    width: 100%;
    border-radius: 1.6rem;
    margin-top: -3%;
    margin-bottom: 3%;
}