.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(173, 175, 173);
    border-radius: 10px;
    /* background-color: rgb(176, 230, 176); */
    margin: .5rem .5 rem;
    margin-bottom: 20px;
    /* height: 40vh; */
    width: 40vh;
    padding: 1.4rem 1.4rem;
    text-align: left;
}


.label {
    color: rgb(62, 189, 211);
    font-weight: bold;
}

.labelPos {
    margin: .3rem .3rem;
    color: rgb(98, 224, 125);
}

.labelNeg {
    margin: .3rem .3rem;
    color: rgb(224, 102, 98);
}

.labelPos {
    margin: .3rem .3rem;
    color: rgb(98, 224, 125);
}

.labelNeg {
    margin: .3rem .3rem;
    color: rgb(224, 102, 98);
}

.message {
    color: rgb(207, 200, 200);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}

.heading {
    text-align: center;
}

.userInfo {
}

.value {
    font-weight: bolder;
}

.attribute{
    font-weight: bolder;
    color: rgb(159, 161, 161);
}

.value{
    color: rgb(15, 15, 15);
    font-weight: 500;
}
.graph{
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 5%;
}