.container {
    /* border: 2px solid rgb(238, 138, 56); */
    text-decoration: none;
    background-color: rgb(203, 209, 206);
    color: rgb(182, 84, 4);
    border-radius: 10px;
    width: 300px;
    height: 78px;
    margin: .8rem .5rem;
    padding: .2rem .2rem;
    display: flex;
    align-items: center;
}

.leftContainer {
    /* border: 2px solid #4d55c7; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.symbol {
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    margin: 1rem 1rem;
    color: black;
}

.shares {
    font-weight: bold;
}

.posChange {
    color: green;
}

.negChange {
    color: red;
}

.upArrow {
    color: green;
}

.downArrow {
    color: red;
}