.wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
}

.stockLink {
    color: black;
    text-decoration: none;
    /* width: 9-0px; */
    width: 840px;
    height: 50px;
    margin: .5rem .5rem;
    /* margin-right: -.2rem; */
    padding: 0px 5px;
    align-items: center;
    position: relative;
    display: flex;
}

.container {
    position: relative;
    display: flex;
    border-bottom: 1px solid rgb(173, 173, 173);
    /* border: 2px solid rgb(180, 178, 178); */
    /* background-color: rgb(136, 161, 149); */
    width: 820px;
    height: 50px;
    margin: 1rem 1rem;
    padding: 0px 3px;
    padding-bottom: -5px;
    align-items: center;
    justify-content: space-between;
}

.container:hover {
    background-color: rgb(226, 244, 247);
    cursor: pointer;
}

.symbol {
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px; 
    height: 25px;
    border-radius: 10px;
    font-size: medium;
}

.company_name {
    position: absolute;
    left: 20%;
}


.price {
    position: absolute;
    left: 60%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 55%;
}

.percent_change {
    position: absolute;
    left: 74%;
    font-size: large;
}

#posChange {
    color: rgba(25, 139, 95, 0.884);
}

#negChange {
    color: rgb(185, 52, 19);
}

.upArrow {
    position: absolute;
    color: rgba(25, 139, 95, 0.884);
    left: 90%;
}

.downArrow {
    position: absolute;
    color: rgb(185, 52, 19);
    left: 90%;
}

.watchListBtn:hover {
    color:rgb(81, 88, 79);
    overflow: hidden;
    cursor: pointer;
}