.wrapper {
    color: rgb(89, 89, 90);
    display: flex;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.wrapper2 {
    display: flex;
    align-items: center;
    width: max-content;
}

.username {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.logo {
    background-color: transparent;
}