.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 58px;
    left: .8;
    z-index: 2;
    width: 150px;
    height: 200px;
}

.selectOpt {
    border: 2px solid white;
    border-radius: 1px;
    background-color: rgb(246, 248, 248);
    color: rgb(5, 5, 5);
    width: 100%;
    min-height: 50px;
}

.selectOpt:hover {
    background-color: rgb(226, 244, 247);
    cursor: pointer;
}