.hoverPrice {
    /* border: 4px solid pink; */
    margin: .6rem .6rem;
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    padding: .2rem .2rem;
    color: rgb(152, 210, 228);
    animation-name: flash;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-play-state: running;
}

.hoverChanges {
    /* border: 4px solid pink; */
    /* margin: .6rem .6rem; */
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    padding: .2rem .2rem;
    color: rgb(152, 210, 228);
    animation-name: flash;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-play-state: running;
}
 
@keyframes flash {
    from {color: rgb(230, 237, 145);}
    to {color: rgb(152, 210, 228);}
}