.hoverPrice {
    /* border: 4px solid pink; */
    margin: .6rem .6rem;
    color: rgb(92, 167, 192);
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-play-state: running;
}
 
@keyframes flash {
    from {color: rgb(194, 203, 85);}
    to {color: rgb(82, 127, 142);}
}