.container {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 1rem;
    width: 25%;
    height: 84%;
    background-color: azure;
}

#buy {
    background-color: rgb(179, 226, 186);
}

#sell {
    background-color: rgb(230, 187, 187);
}

.orderType {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 13%;
}

.buyLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid rgb(81, 180, 119);
    width: 50%;
    height: 100%;
    background-color: rgb(29, 116, 43);
    color: whitesmoke;
    cursor: pointer;
}

.sellLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid rgb(184, 93, 93);
    width: 50%;
    height: 100%;
    background-color: rgb(116, 29, 29);
    color: whitesmoke;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.orderBtn {
    background-color: rgb(238, 238, 127);
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    width: 60%;
    height: 10%;
    cursor: pointer;
}

.sharesInput {
    width: 50px;
    font-size: larger;

}


.errorMsg {
    color: red;
}